body {
    padding: 20px;
    line-height: 23px;
    font-family: "Tahoma";
}

h2 {
    font-size: 25px;
    font-weight: normal;
    color: gray;
}

.contact {
    padding-top:36px;
    float: right;
    text-align: right;
    line-height: 20px;
}

.left_column {
    float: left;
}

.right_column {
    float: right;
}

.clear-all {
    clear: both;
}

hr {
    margin: 20px 0px;
}

.content-table {
    width: 100%;
}

.head {
    font-weight: bold;
    width: 400px;
}

td {
    vertical-align: top;
}

.city {
    color: grey;
}

.first-line td {
    padding-top: 25px;
}