body {
    padding: 20px;
    line-height: 23px;
    font-family: "Helvetica Neue";
}

.contact {
    padding-top:40px;
    float: right;
    text-align: right;
    line-height: 20px;
}

.left_column {
    float: left;
}

.right_column {
    float: right;
}
